*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.quizContainer{
    max-width: 500px;
    border: 2px solid red;
    margin: 120px auto;
    padding: 2rem;
    border-radius: 8px;
}

.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 25px;
    height: 20px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #4caf50;
    border-radius: 25px;
    transition: width 0.4s ease;
}
.quizContainer h1{
    text-align: center;
}

.title{
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

hr{
    margin: 1rem 0;
}

.question{
    font-size: 1.53rem;
    margin-bottom: 1rem;
}

.answers{
    list-style: none;
}

.answers li{
    border-radius: 5px;
    padding: .8rem;
    margin-bottom: .8rem;
    font-size: .85rem;
    cursor: pointer;
    transition: .3s ease;
    background-color: rgb(174, 170, 170,.2);
}

.answers li:hover{
    /*background: rgba(0, 0, 0, .1);*/
    border: 1px solid #e0e0e0;
    background: transparent;
}

.footer{
    display: flex;
    width: 100%;
    padding: .5rem;
}

button{
    margin-left: auto;
    padding: .6rem 1.8rem;
    border: 1px;
    border-radius: 8px;
    cursor: pointer;
}

.correct{
    border: 1px #4caf50;
    background: transparent;
}

.wrong{
    border: 1px red;
    background: transparent;
}
